[Unit]
Description=Radio Pi backend service
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/usr/local/src/radiopi
ExecStart=/usr/local/src/radiopi/env/bin/twistd --nodaemon --pidfile= -y service.tac
StandardOutput=syslog
StandardError=syslog

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
