attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
constantly==15.1.0
hyperlink==17.3.1
incremental==17.5.0
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
ujson==1.35
wsaccel==0.6.2
zope.interface==4.4.3
python-vlc==3.0.102
python-mpd2==1.0.0
