.
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
constantly==15.1.0
hyperlink==19.0.0
incremental==17.5.0
six==1.12.0
Twisted==19.2.0
txaio==18.8.1
ujson==1.35
wsaccel==0.6.2
zope.interface==4.6.0
python-vlc==3.0.6109
python-mpd2==1.0.0
